#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
button {
    width: auto;
    height: 20px;

}

#redBox, #blueBox, #control {
    border: 1em solid;
    height: 100%;
}

#redBox {
    border-color: red;
    width: 40%;
}

#blueBox {
    border-color: blue;
    width: 40%;
}

#control {
    border-color: grey;
    width: 20%;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

td {
    border: 4px solid black;
    width: 20px;
    height: 20px;
}

.ship {
    background-color: grey;
}

.miss {
    background-color: black;
}

.hit {
    background-color: red;
}

.greyed {
    background-color: grey;
}

.shipDisplay {
    color: blue;

}

.shipDisplay.sunk {
    color: red;
}